#border {
    margin: 20px;
    padding: 10px;
    border: 10px dotted #a0bff0;
}
#heading {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px #a0bff0;
}
#headingBox {
    border-bottom: 10px;
}
h3 {
    text-decoration: underline #a0bff0;
    font-family: Arial, Helvetica, sans-serif;
}

#image {
    padding: 10px 10px 10px 10px;
    margin: auto;
    max-width: fit-content;
}
