#loginForm {
    text-align: center;
    margin: auto;
    max-width: fit-content;
    padding-top: 10%;
    color: darkblue;
    font-weight: bold;
}
#signUpForm {
    text-align: center;
    margin: auto;
    max-width: fit-content;
    padding-top: 10%;
    color: darkblue;
    font-weight: bold;
}

.btn-primary {
    background-color: #a0bff0 !important;
    border-color: #a0bff0 !important;
}

.btn-primary:hover {
    background-color: darkblue !important;
}

#href {
    color: #a0bff0 !important;
}

#href:hover {
    color: darkblue !important;
}
