#loginForm {
    text-align: center;
    margin: auto;
    max-width: fit-content;
    padding-top: 50%;
    color: white;
    font-weight: bold;
}

.btn-primary {
    background-color: #a0bff0 !important;
    border-color: #a0bff0 !important;
}

.btn-primary:hover {
    background-color: pink !important;
}

#href {
    color: #a0bff0 !important;
}

#href:hover {
    color: pink !important;
}
